// 内容是否可选
@mixin utils-user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

// 清除浮动
@mixin utils-clearfix {
  $selector: &;

  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
    }

    #{$selector}::after {
      clear: both;
    }
  }
}

// 垂直居中
@mixin utils-vertical-center {
  $selector: &;

  @at-root {
    #{$selector}::after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}

// 文本隐藏
@mixin utils-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}